
<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes Incluidos en Angular - Usualmente en el modulo de Common
    </p>
</div>

<div class="grid">

    <div class="col-4">
        <p-card header="Uppercase (Mayúscula)"
                [subheader]="nombreLower">
                {{nombreLower | uppercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Lowercase (Minúscula)"
                [subheader]="nombreUpper">
                {{nombreUpper | lowercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Tittlecase (Titulo)"
                [subheader]="nombreCompleto">
                {{nombreCompleto | titlecase }}
        </p-card>
    </div>

</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipes para mostrar las fechas

    </p>
</div>

<div class="grid">
    <div class="col-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date: 'short'</li>
                <li>fecha | date: 'medium'</li>
                <li>fecha | date: 'long'</li>
                <li>fecha | date: 'full'</li>
                <li>fecha | date: 'shortDate'</li>
                <li>fecha | date: 'mediumDate'</li>
                <li>fecha | date: 'longDate'</li>
                <li>fecha | date: 'fullDate'</li>
                <li>fecha | date: 'shortTime'</li>
                <li>fecha | date: 'mediumTime'</li>
                <li>fecha | date: 'longTime'</li>
                <li>fecha | date: 'fullTime'</li>
                <li>fecha | personalizada</li>
            </ul>                
        </p-card>
    </div>

    <div class="col-6">
        <p-card>
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date: 'short'}}</li>
                <li>{{fecha | date: 'medium'}}</li>
                <li>{{fecha | date: 'long'}}</li>
                <li>{{fecha | date: 'full'}}</li>
                <li>{{fecha | date: 'shortDate'}}</li>
                <li>{{fecha | date: 'mediumDate'}}</li>
                <li>{{fecha | date: 'longDate'}}</li>
                <li>{{fecha | date: 'fullDate'}}</li>
                <li>{{fecha | date: 'shortTime'}}</li>
                <li>{{fecha | date: 'mediumTime'}}</li>
                <li>{{fecha | date: 'longTime'}}</li>
                <li>{{fecha | date: 'fullTime'}}</li>
                <li>{{fecha | date: 'EEEE dd LLL - yyy'}}</li>

            </ul>                
        </p-card>
    </div> 

</div>

